- The `Users` table represents users.
- The `Addresses` table represents user addresses, demonstrating a one-to-one relationship with the `Users` table.
- The `Orders` table represents orders placed by users, demonstrating a one-to-many relationship with the `Users` table.
- The `Products` table represents products, and the `OrderItems` table serves as a junction table to represent the many-to-many relationship between orders and products.

In [2]:
USE LocalDatabase
GO

1. **One-to-One Relationship:**
    - In a one-to-one relationship, each record in one table corresponds to one and only one record in another table.
    - In this example, each user can have one and only one address.

In [5]:
USE LocalDatabase;
GO

-- Aldready Create User Table
CREATE TABLE Address (
    [Id] UNIQUEIDENTIFIER DEFAULT NEWID() PRIMARY KEY, -- Primary Key column,
    UserID UNIQUEIDENTIFIER UNIQUE,
    StreetAddress VARCHAR(100),
    City VARCHAR(50),
    -- Other address-related columns
);
GO

-- Define the one-to-one relationship
ALTER TABLE Address
ADD CONSTRAINT FK_Address_User
FOREIGN KEY (UserID) REFERENCES [User](Id);
GO

: Msg 2714, Level 16, State 6, Line 5
There is already an object named 'Address' in the database.

2. **One-to-Many Relationship:**
    - In a one-to-many relationship, each record in one table can have one or more related records in another table.
    - In this example, each user can place multiple orders.

In [16]:
USE LocalDatabase
GO

CREATE TABLE Order (
    [Id] UNIQUEIDENTIFIER DEFAULT NEWID() PRIMARY KEY, -- Primary Key column,
    UserID UNIQUEIDENTIFIER UNIQUE,
    OrderDate DATE,
    TotalAmount DECIMAL(10, 2),
    -- Other order-related columns
);
GO

-- Define the one-to-many relationship
ALTER TABLE Order
ADD CONSTRAINT FK_Order_User
FOREIGN KEY (UserID) REFERENCES [User](Id);
GO

: Msg 156, Level 15, State 1, Line 4
Incorrect syntax near the keyword 'Order'.

: Msg 156, Level 15, State 1, Line 14
Incorrect syntax near the keyword 'Order'.

3. **Many-to-Many Relationship:**
    - In a many-to-many relationship, multiple records in one table can relate to multiple records in another table.
    - In this example, users can place multiple orders, and each order can contain multiple products.

In [11]:
USE LocalDatabase
GO

INSERT INTO [dbo].[Address] (UserId, StreetAddress, City)
VALUES
('a7cdea85-f6c7-4e05-93c5-0ca6c49a4979', '82PHC', 'HCM')
GO

In [13]:
USE LocalDatabase
GO
-- Select rows from a Table or View '[Address]' in schema '[dbo]'
SELECT * FROM [dbo].[Address] a
JOIN [dbo].[User] u ON u.Id = a.UserID
GO

Id,UserID,StreetAddress,City,Id,UserName
30833f37-b3a9-4b22-8422-cbca26f48c06,a7cdea85-f6c7-4e05-93c5-0ca6c49a4979,82PHC,HCM,a7cdea85-f6c7-4e05-93c5-0ca6c49a4979,ColumnValue1